@import "tailwindcss";

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overscroll-behavior: none;
}

input[type="password"],
input[type="text"] {
  autocomplete: off;
}
